* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9a9a9a
}

/* NAVBAR DEKSTOP */
nav {
    display: flex;
    background-color: white;
    justify-content: space-between; /* nav ada di seb kanan img*/
    /* align-items: center; */
    padding: 1rem 2rem;
}

/* agar nav bersebelahan dgn img */
nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav img {
    width: 100px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: #191919;
    font-weight: 700;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0); border bottom nya agar smooth
}

nav ul li a:hover {
    color: #ff6600;
    transition: 0.3s;
    /* border-bottom: 1px solid black; */
}

nav ul li {
    margin: 15px 0;
}

nav ul.showing {
    max-height: 300px; /* atur sesuai kebutuhan */
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* MOBILE MODE */
@media (max-width: 768px) {
    
    .menu-toggle {
        display: block;
    }

    nav ul {
        
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        width: 150px;
        /* height: 100vh; */
        /* background-color: white; */
        flex-direction: column;
        padding: 10px 0;
        /* align-items: center; */
        /* justify-content: center; */
        /* gap: 25px; */
        /* overflow: hidden; */
        /* transition: 0.4s ease; */
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        width: 100%;
        text-align: left;
    }

    nav ul li a {
        display: block;
        text-align: center;
        background-color: white;
        /* border-bottom: 1px solid #222; */
    }

    nav ul li a:hover {
         color: #ff6600;
        transition: 0.3s;
    }
}

    
